Repository cot-rs/cot, changes with the labels that .github/labeler.yml gives for each.
All labels: C-lib, C-cli, C-macros, C-codegen, A-ci

fix: panic backtrace/location not displayed on the error page
  cot-macros/src/admin.rs
  cot/src/auth/db.rs
  cot/src/error_page.rs
  cot/src/router.rs
  examples/todo-list/src/main.rs
Labels: C-lib, C-macros

ci: use action for clippy to show in GitHub UI
  .github/workflows/rust.yml
Labels: A-ci

ci: save Rust cache only on build jobs
  .github/workflows/rust.yml
Labels: A-ci

ci: remove pointless filters
  .github/workflows/rust.yml
Labels: A-ci

chore: clippy
  cot-cli/src/utils.rs
Labels: C-cli

refactor: do not use a builder
  cot-cli/src/utils.rs
Labels: C-cli

refactor: workspace manager workspace+package parsing
  cot-cli/src/utils.rs
Labels: C-cli

chore: update Cargo.lock
  Cargo.lock
Labels: none

feat: use WorkspaceManager in make migrations
  cot-cli/src/migration_generator.rs
  cot-cli/src/utils.rs
Labels: C-cli

refactor: get rid of cargo dependency
  Cargo.lock
  Cargo.toml
  cot-cli/Cargo.toml
  cot-cli/src/lib.rs
  cot-cli/src/test_utils.rs
  cot-cli/src/utils.rs
  cot-cli/tests/new_project.rs
Labels: C-cli

test: WorkspaceManager
  Cargo.toml
  cot-cli/Cargo.toml
  cot-cli/src/utils.rs
Labels: C-cli

refactor: use hashmap for workspace manager
  cot-cli/src/utils.rs
Labels: C-cli

test: ignore cargo-based tests for miri
  cot-cli/src/utils.rs
Labels: C-cli

chore: clippy
  cot-cli/src/utils.rs
Labels: C-cli

feat: initial workspace manager draft
  cot-cli/src/migration_generator.rs
  cot-cli/src/utils.rs
Labels: C-cli

chore: apply suggestions from code review
  cot-cli/src/utils.rs
Labels: C-cli

fix: canonicalize paths in tests
  cot-cli/src/utils.rs
Labels: C-cli

chore: clippy
  cot-cli/src/migration_generator.rs
  cot-cli/src/utils.rs
Labels: C-cli

test: add test for reverse!() reversing in the current app first
  cot/tests/project.rs
Labels: C-lib

docs: update guide introduction dynamic routes example (missing closing bracket) (#16)
  introduction.md
Labels: none

chore(clippy): add --all-targets to clippy CI and fix all warnings
  .github/workflows/rust.yml
  cot-cli/src/migration_generator.rs
  cot-cli/src/test_utils.rs
  cot-cli/src/utils.rs
  cot-codegen/src/model.rs
  cot/src/cli.rs
  cot/src/db/migrations.rs
  cot/src/error.rs
  cot/src/request.rs
  cot/src/request/path_params_deserializer.rs
  cot/tests/db.rs
  cot/tests/router.rs
  justfile
Labels: C-lib, C-cli, C-codegen, A-ci

test: list migrations
  cot-cli/src/main.rs
  cot-cli/src/migration_generator.rs
  cot-cli/tests/migration_generator.rs
Labels: C-cli

feat: add simple migration listing
  cot-cli/src/main.rs
  cot-cli/src/migration_generator.rs
Labels: C-cli

fix: return empty Vec when there are no migrations
  cot-cli/src/migration_generator.rs
Labels: C-cli

chore: remove cherry-picking leftovers
  cot-cli/src/main.rs
Labels: C-cli

chore!: extract migration commands
  cot-cli/src/main.rs
Labels: C-cli

test: list migrations edge cases
  cot-cli/tests/migration_generator.rs
Labels: C-cli

refactor: extract command handlers
  cot-cli/src/main.rs
Labels: C-cli

refactor: minor changes
  cot-cli/src/main.rs
Labels: C-cli

chore: make clippy happy
  cot-cli/src/main.rs
Labels: C-cli

refactor: redo WorkspaceManager
  cot-cli/src/migration_generator.rs
  cot-cli/src/test_utils.rs
  cot-cli/src/utils.rs
  cot-cli/tests/migration_generator.rs
Labels: C-cli

test: CargoTomlManager, WorkspaceManager, and PackageManager
  cot-cli/src/test_utils.rs
  cot-cli/src/utils.rs
Labels: C-cli

chore: clippy
  cot-cli/src/test_utils.rs
  cot-cli/src/utils.rs
  cot-cli/tests/migration_generator.rs
Labels: C-cli

fix: path not canonicalized
  cot-cli/src/utils.rs
Labels: C-cli

fix: path not canonicalized
  cot-cli/src/utils.rs
Labels: C-cli

fix: path not canonicalized
  cot-cli/src/utils.rs
Labels: C-cli

fix: path not canonicalized
  cot-cli/src/utils.rs
Labels: C-cli

feat: new Request Handler API based on the extractor pattern
  cot/src/admin.rs
  cot/src/auth.rs
  cot/src/db.rs
  cot/src/handler.rs
  cot/src/lib.rs
  cot/src/middleware.rs
  cot/src/project.rs
  cot/src/request.rs
  cot/src/request/extractors.rs
  cot/src/router.rs
  cot/src/session.rs
  cot/src/test.rs
  cot/templates/admin/base.html
  cot/templates/admin/model.html
  cot/templates/admin/model_edit.html
  cot/templates/admin/model_list.html
  cot/templates/admin/model_remove.html
  examples/admin/src/main.rs
  examples/admin/templates/index.html
  examples/custom-error-pages/src/main.rs
  examples/hello-world/src/main.rs
  examples/sessions/src/main.rs
  examples/sessions/templates/index.html
  examples/sessions/templates/name.html
  examples/todo-list/src/main.rs
  examples/todo-list/templates/index.html
Labels: C-lib

ci: install LLVM for debug symbol resolution
  .github/workflows/rust.yml
Labels: A-ci

feat: choose target when no provided in just
  justfile
Labels: none

.github/labeler.yml:

C-lib:
  - changed-files:
      - any-glob-to-any-file: ['cot/**']

C-cli:
  - changed-files:
      - any-glob-to-any-file: ['cot-cli/**']

C-macros:
  - changed-files:
      - any-glob-to-any-file: ['cot-macros/**']

C-codegen:
  - changed-files:
      - any-glob-to-any-file: ['cot-codegen/**']

A-ci:
  - changed-files:
      - any-glob-to-any-file: ['.github/**']
