Repository cot-rs/cot, changes with the labels that .github/labeler.yml gives for each.
All labels: C-lib, C-cli, C-macros, C-codegen, A-ci

.github/labeler.yml:

C-lib:
  - changed-files:
      - any-glob-to-any-file: ['cot/**']

C-cli:
  - changed-files:
      - any-glob-to-any-file: ['cot-cli/**']

C-macros:
  - changed-files:
      - any-glob-to-any-file: ['cot-macros/**']

C-codegen:
  - changed-files:
      - any-glob-to-any-file: ['cot-codegen/**']

A-ci:
  - changed-files:
      - any-glob-to-any-file: ['.github/**']

fix: justfile syntax
  justfile
Labels: none

feat: justfile aliases
  justfile
Labels: none

chore: add sponsor badges to README.md
  README.md
Labels: none

fix: make miri happy by ignoring tests
  cot-cli/tests/migration_generator.rs
Labels: C-cli

fix: use proper job name
  justfile
Labels: none

feat: use action for maximizing build space
  .github/workflows/rust.yml
Labels: A-ci

fix: remove canonicalize
  cot-cli/src/test_utils.rs
  cot-cli/src/utils.rs
Labels: C-cli

chore: add justfile format task to pre-commit
  .pre-commit-config.yaml
Labels: none

Initial commit of email.rs using lettre
  cot/src/email.rs
Labels: C-lib

Initial commit of Add email support using lettre crate
  Cargo.toml
  cot/Cargo.toml
  cot/src/email.rs
  cot/src/lib.rs
Labels: C-lib

ci: remove clippy-action
  .github/workflows/rust.yml
Labels: A-ci

refactor: minor changes
  cot-cli/src/main.rs
Labels: C-cli

fix: remove canonicalize
  cot-cli/src/utils.rs
Labels: C-cli

fix: return empty Vec when there are no migrations
  cot-cli/src/migration_generator.rs
Labels: C-cli

fix: remove canonicalize
  cot-cli/src/test_utils.rs
  cot-cli/src/utils.rs
Labels: C-cli

fix: path not canonicalized
  cot-cli/src/utils.rs
Labels: C-cli

ci: use action-clippy instead of clippy-action
  .github/workflows/rust.yml
Labels: A-ci

test: list migrations
  cot-cli/src/main.rs
  cot-cli/src/migration_generator.rs
  cot-cli/tests/migration_generator.rs
Labels: C-cli

fix: path not canonicalized
  cot-cli/src/utils.rs
Labels: C-cli

chore: remove cherry-picking leftovers
  cot-cli/src/main.rs
Labels: C-cli

refactor: redo WorkspaceManager
  cot-cli/src/migration_generator.rs
  cot-cli/src/test_utils.rs
  cot-cli/src/utils.rs
  cot-cli/tests/migration_generator.rs
Labels: C-cli

fix: make miri happy by ignoring tests
  cot-cli/tests/migration_generator.rs
Labels: C-cli

fix: path not canonicalized
  cot-cli/src/utils.rs
Labels: C-cli

feat: add simple migration listing
  cot-cli/src/main.rs
  cot-cli/src/migration_generator.rs
Labels: C-cli

test: list migrations edge cases
  cot-cli/tests/migration_generator.rs
Labels: C-cli

fix: remove rebase leftover
  cot-cli/src/utils.rs
Labels: C-cli

test: CargoTomlManager, WorkspaceManager, and PackageManager
  cot-cli/src/test_utils.rs
  cot-cli/src/utils.rs
Labels: C-cli

chore: make clippy happy
  cot-cli/src/main.rs
Labels: C-cli

chore: clippy
  cot-cli/src/test_utils.rs
  cot-cli/src/utils.rs
  cot-cli/tests/migration_generator.rs
Labels: C-cli

refactor: extract command handlers
  cot-cli/src/main.rs
Labels: C-cli

chore!: extract migration commands
  cot-cli/src/main.rs
Labels: C-cli

fix: path not canonicalized
  cot-cli/src/utils.rs
Labels: C-cli

chore: make clippy happy ffs
  cot-cli/src/test_utils.rs
  cot-cli/src/utils.rs
Labels: C-cli

ci: set deps right once again
  .github/workflows/rust.yml
Labels: A-ci

chore: remove unused functions
  cot-cli/src/utils.rs
Labels: C-cli

Added the message printout if debug mode is enabled
  cot/src/email.rs
Labels: C-lib
