Repository cot-rs/cot, pull requests merged in 2025-04, with the labels that each got.

#270 chore: update `admin` example with a custom `TodoItem` model
  Cargo.lock
  cot/src/admin.rs
  examples/admin/Cargo.toml
  examples/admin/src/main.rs
  examples/admin/src/migrations.rs
  examples/admin/src/migrations/m_0001_initial.rs
  examples/admin/templates/index.html
  examples/custom-error-pages/Cargo.toml
  examples/custom-task/Cargo.toml
  examples/hello-world/Cargo.toml
  examples/json/Cargo.toml
  examples/sessions/Cargo.toml
  examples/sessions/src/main.rs
  examples/todo-list/Cargo.toml
  examples/todo-list/src/main.rs
Labels: C-lib

#257 feat!: append app name to table name
  cot-cli/src/migration_generator.rs
  cot-cli/tests/migration_generator.rs
  cot-cli/tests/snapshot_testing/migration/mod.rs
  cot-cli/tests/snapshot_testing/migration/snapshots/cli__snapshot_testing__migration__migration_list_existing-2.snap
  cot-cli/tests/snapshot_testing/migration/snapshots/cli__snapshot_testing__migration__migration_list_existing-3.snap
  cot-cli/tests/snapshot_testing/migration/snapshots/cli__snapshot_testing__migration__migration_list_existing-4.snap
  cot-cli/tests/snapshot_testing/migration/snapshots/cli__snapshot_testing__migration__migration_list_existing-5.snap
  cot-cli/tests/snapshot_testing/migration/snapshots/cli__snapshot_testing__migration__migration_list_existing-6.snap
  cot-cli/tests/snapshot_testing/migration/snapshots/cli__snapshot_testing__migration__migration_list_existing.snap
  cot-cli/tests/snapshot_testing/migration/snapshots/cli__snapshot_testing__migration__migration_make_existing_model-2.snap
  cot-cli/tests/snapshot_testing/migration/snapshots/cli__snapshot_testing__migration__migration_make_existing_model-3.snap
  cot-cli/tests/snapshot_testing/migration/snapshots/cli__snapshot_testing__migration__migration_make_existing_model-4.snap
  cot-cli/tests/snapshot_testing/migration/snapshots/cli__snapshot_testing__migration__migration_make_existing_model-5.snap
  cot-cli/tests/snapshot_testing/migration/snapshots/cli__snapshot_testing__migration__migration_make_existing_model-6.snap
  cot-cli/tests/snapshot_testing/migration/snapshots/cli__snapshot_testing__migration__migration_make_existing_model.snap
  cot-macros/src/model.rs
  cot/src/auth/db/migrations/m_0001_initial.rs
  cot/src/db.rs
  cot/tests/db.rs
  examples/todo-list/src/migrations.rs
  examples/todo-list/src/migrations/m_0001_initial.rs
Labels: C-cli, C-lib, C-macros

#265 chore!: migrate from rinja to askama
  Cargo.lock
  Cargo.toml
  cot-cli/src/project_template/Cargo.lock.template
  cot-cli/src/project_template/Cargo.toml.template
  cot-cli/src/project_template/src/main.rs
  cot-macros/src/form.rs
  cot/Cargo.toml
  cot/src/admin.rs
  cot/src/error.rs
  cot/src/error_page.rs
  cot/src/form.rs
  cot/src/form/fields.rs
  cot/src/html.rs
  cot/src/private.rs
  examples/admin/Cargo.toml
  examples/admin/src/main.rs
  examples/sessions/Cargo.toml
  examples/sessions/src/main.rs
  examples/todo-list/Cargo.toml
  examples/todo-list/src/main.rs
Labels: C-cli, C-lib, C-macros

#279 fix: actually use SessionMiddleware config
  cot/src/middleware.rs
Labels: C-lib

#278 feat: use SCSS
  Cargo.lock
  Cargo.toml
  cot/.gitignore
  cot/Cargo.toml
  cot/build.rs
  cot/scss/admin/admin.scss
  cot/scss/error.scss
  cot/templates/error.html
Labels: C-lib

#282 ci: use sccache
  .github/workflows/rust.yml
Labels: A-ci

#283 feat: allow `FnOnce` for `RequestHandlers`
  cot/src/handler.rs
Labels: C-lib

#285 docs: password comparison
  cot/src/auth.rs
Labels: C-lib

#288 fix: build when minimal dependency versions are used
  Cargo.lock
  Cargo.toml
  cot/Cargo.toml
Labels: C-lib

#291 chore: allow trailing comma in static_files macro
  cot/src/static_files.rs
Labels: C-lib

#292 chore(ci): run Rust CI on workflow_dispatch
  .github/workflows/rust.yml
Labels: A-ci

#293 chore(deps)!: bump deps (upgrade to askama 0.14)
  Cargo.lock
  Cargo.toml
  cot-cli/src/project_template/Cargo.lock.template
  cot-cli/src/project_template/Cargo.toml.template
  cot/Cargo.toml
  examples/admin/Cargo.toml
  examples/sessions/Cargo.toml
  examples/todo-list/Cargo.toml
  justfile
Labels: C-cli, C-lib

#296 fix: build error in `AdminModel` derive when `Model` is not imported
  cot-macros/src/admin.rs
Labels: C-macros

#295 fix: allow `#[model]` to be put before `#[derive(AdminModel)]`
  cot-macros/src/lib.rs
  cot-macros/src/model.rs
  cot-macros/tests/compile_tests.rs
  cot-macros/tests/ui/derive_admin_model.rs
  cot-macros/tests/ui/derive_admin_model_derive_first.rs
  cot/src/private.rs
Labels: C-lib, C-macros

#286 Form support for Email Field
  Cargo.lock
  Cargo.toml
  cot/Cargo.toml
  cot/src/admin.rs
  cot/src/auth.rs
  cot/src/auth/db.rs
  cot/src/common_types.rs
  cot/src/form.rs
  cot/src/form/fields.rs
  cot/src/lib.rs
  cot/tests/auth.rs
Labels: C-lib

#297 chore!: add `#[non_exhaustive]` to more enums
  cot/src/auth.rs
  cot/src/config.rs
  cot/src/db.rs
  cot/src/db/query.rs
  cot/src/form.rs
  cot/src/router/path.rs
Labels: C-lib

#303 fix(docs): invalid whitespace in a doc
  cot/src/form/fields.rs
Labels: C-lib

#306 chore(ci): run coverage tests with external dependencies
  .github/workflows/rust.yml
Labels: A-ci

#256 feat!: implement and handle `IntoResponse`
  cot/src/admin.rs
  cot/src/body.rs
  cot/src/handler.rs
  cot/src/headers.rs
  cot/src/lib.rs
  cot/src/openapi.rs
  cot/src/openapi/swagger_ui.rs
  cot/src/project.rs
  cot/src/request/extractors.rs
  cot/src/response.rs
  cot/src/response/into_response.rs
  cot/src/router.rs
  cot/src/router/method.rs
  cot/src/router/method/openapi.rs
  cot/tests/openapi.rs
  cot/tests/project.rs
  cot/tests/router.rs
  examples/admin/src/main.rs
  examples/custom-error-pages/src/main.rs
  examples/hello-world/src/main.rs
  examples/sessions/src/main.rs
  examples/todo-list/src/main.rs
Labels: C-lib

#305 chore(clippy): allow API breaking clippy lints
  clippy.toml
  cot-cli/src/handlers.rs
  cot-cli/src/migration_generator.rs
  cot-cli/tests/migration_generator.rs
  cot-codegen/src/model.rs
  cot-macros/src/dbtest.rs
  cot-macros/src/model.rs
Labels: C-cli, C-macros, C-codegen
