Repository cot-rs/cot, pull requests merged in 2025-08, with the labels that each got.

#386 fix: trybuild tests on the latest nightly
  Cargo.lock
  cot-macros/tests/ui/func_query_invalid_field.stderr
  cot/Cargo.toml
  cot/tests/compile_tests.rs
  cot/tests/ui/unimplemented_request_handler.stderr
Labels: C-lib, C-macros

#391 ci: pin nightly version
  .github/workflows/rust.yml
Labels: A-ci

#378 feat: basic benchmarking
  .github/workflows/bencher-base-benchmarks.yml
  .github/workflows/bencher-closed-pr.yml
  .github/workflows/bencher-pr-benchmarks.yml
  CONTRIBUTING.md
  Cargo.lock
  Cargo.toml
  cot/Cargo.toml
  cot/benches/bench_utils.rs
  cot/benches/router.rs
Labels: C-lib, A-ci

#388 feat: IntoResponse and ApiOperationResponse derive macro for enum
  cot-codegen/src/model.rs
  cot-macros/Cargo.toml
  cot-macros/src/api_response_enum.rs
  cot-macros/src/lib.rs
  cot-macros/tests/compile_tests.rs
  cot-macros/tests/ui/derive_api_operation_response.rs
  cot-macros/tests/ui/derive_api_operation_response_enum.rs
  cot-macros/tests/ui/derive_api_operation_response_enum.stderr
  cot-macros/tests/ui/derive_api_operation_response_invalid_variant_multi_tuple.rs
  cot-macros/tests/ui/derive_api_operation_response_invalid_variant_multi_tuple.stderr
  cot-macros/tests/ui/derive_api_operation_response_invalid_variant_struct.rs
  cot-macros/tests/ui/derive_api_operation_response_invalid_variant_struct.stderr
  cot-macros/tests/ui/derive_api_operation_response_invalid_variant_unit.rs
  cot-macros/tests/ui/derive_api_operation_response_invalid_variant_unit.stderr
  cot-macros/tests/ui/derive_api_operation_response_missing_trait_impl.rs
  cot-macros/tests/ui/derive_api_operation_response_missing_trait_impl.stderr
  cot-macros/tests/ui/derive_into_response.rs
  cot-macros/tests/ui/derive_into_response_invalid_variant_multi_tuple.rs
  cot-macros/tests/ui/derive_into_response_invalid_variant_multi_tuple.stderr
  cot-macros/tests/ui/derive_into_response_invalid_variant_struct.rs
  cot-macros/tests/ui/derive_into_response_invalid_variant_struct.stderr
  cot-macros/tests/ui/derive_into_response_invalid_variant_unit.rs
  cot-macros/tests/ui/derive_into_response_invalid_variant_unit.stderr
  cot-macros/tests/ui/derive_into_response_missing_trait_impl.rs
  cot-macros/tests/ui/derive_into_response_missing_trait_impl.stderr
  cot-macros/tests/ui/derive_into_response_struct.rs
  cot-macros/tests/ui/derive_into_response_struct.stderr
  cot/src/openapi.rs
  cot/src/private.rs
  cot/src/response.rs
Labels: C-lib, C-macros, C-codegen
