Repository cot-rs/cot, pull requests merged in 2025-05, with the labels that each got.

#310 fix: migration engine only running the first operation in a migration
  cot/src/db/migrations.rs
  cot/tests/db.rs
Labels: C-lib

#315 tests!: add `TestServer` utility and add some E2E tests
  CONTRIBUTING.md
  Cargo.lock
  Cargo.toml
  compose.yml
  cot-macros/Cargo.toml
  cot-macros/src/lib.rs
  cot-macros/src/main_fn.rs
  cot/Cargo.toml
  cot/src/lib.rs
  cot/src/project.rs
  cot/src/test.rs
  cot/tests/admin.rs
Labels: C-lib, C-macros, A-ci

#318 chore: don't log backtraces
  cot/src/error_page.rs
Labels: C-lib

#317 feat(static-files)!: refactor, add config and content hashing
  Cargo.lock
  Cargo.toml
  cot-cli/src/project_template/src/main.rs
  cot/Cargo.toml
  cot/src/admin.rs
  cot/src/cli.rs
  cot/src/config.rs
  cot/src/error.rs
  cot/src/lib.rs
  cot/src/openapi/swagger_ui.rs
  cot/src/project.rs
  cot/src/request/extractors.rs
  cot/src/serializers.rs
  cot/src/static_files.rs
  cot/src/test.rs
  cot/templates/admin/base.html
  examples/admin/src/main.rs
Labels: C-cli, C-lib

#319 chore: update project template to use `Html` instead of `Response`
  cot-cli/src/project_template/src/main.rs
Labels: C-cli

#307 implement `AsFormField` for floating point types
  cot/src/form.rs
  cot/src/form/fields.rs
Labels: C-lib

#313 fix: ForeignKey<Self> doesn't compileFix self foreignkey
  cot-codegen/src/lib.rs
  cot-codegen/src/model.rs
  cot-codegen/src/symbol_resolver.rs
  cot-macros/src/model.rs
Labels: C-macros, C-codegen

#324 fix: don't clone string in `<Html as IntoResponse>`
  cot/src/response/into_response.rs
Labels: C-lib

#331 feat: more just commands and clippy fix
  cot/src/auth.rs
  justfile
Labels: C-lib

#330 feat: allow more types to be used as a primary key
  cot/src/db/fields.rs
  cot/tests/db.rs
Labels: C-lib

#333 fix!: OpenAPI specs with item references
  cot/src/openapi/swagger_ui.rs
  cot/src/router.rs
  cot/tests/openapi.rs
Labels: C-lib
