Repository cot-rs/cot, pull requests merged in 2025-07, with the labels that each got.

#359 fix: custom Default implementation for `SessionMiddlewareConfig`
  cot/src/config.rs
Labels: C-lib

#363 chore: warn on `clippy::allow_attributes`; fix clippy warnings
  Cargo.toml
  cot-cli/src/migration_generator.rs
  cot/src/db.rs
  cot/src/db/fields.rs
  cot/src/form/fields.rs
  cot/src/handler.rs
  cot/src/openapi.rs
  cot/src/request/path_params_deserializer.rs
  cot/src/router.rs
  cot/src/router/path.rs
  cot/src/serializers.rs
  cot/src/session/store/redis.rs
  cot/tests/from_request.rs
Labels: C-cli, C-lib

#364 chore: fix warning on stable clippy
  cot/src/db.rs
Labels: C-lib

#365 chore(pre-commit): add HTML/Jinja2 linter & formatter
  .pre-commit-config.yaml
  cot-cli/src/project_template/src/main.rs
  cot-cli/src/project_template/templates/index.html
  cot/templates/404.html
  cot/templates/405.html
  cot/templates/500.html
  cot/templates/admin/base.html
  cot/templates/admin/login.html
  cot/templates/admin/model.html
  cot/templates/admin/model_edit.html
  cot/templates/admin/model_list.html
  cot/templates/admin/model_remove.html
  cot/templates/error.html
  cot/templates/fail.html
  djlint.toml
  examples/admin/templates/index.html
  examples/custom-error-pages/src/404.html
  examples/custom-error-pages/src/500.html
  examples/file-upload/templates/index.html
  examples/file-upload/templates/uploaded.html
  examples/sessions/templates/index.html
  examples/sessions/templates/name.html
  examples/todo-list/templates/index.html
Labels: C-cli, C-lib

#367 chore(ci): limit the max number of features tested `cargo check`
  .github/workflows/rust.yml
Labels: A-ci

#366 chore(ci): run cargo semver checks on PRs
  .github/workflows/rust.yml
Labels: A-ci

#372 fix: ignored doctest
  cot/src/session/store/redis.rs
Labels: C-lib

#369 ci: make cargo check first job
  .github/workflows/rust.yml
Labels: C-macros, A-ci

#374 chore!: add `#[non_exhaustive]` to `FormError` variants
  cot/src/form.rs
Labels: C-lib

#375 chore: extract `LiveReloadMiddleware` to a separate file
  cot/src/middleware.rs
  cot/src/middleware/live_reload.rs
Labels: C-lib

#379 chore: bump to darling 0.21, remove `PreservedStrExpr`
  Cargo.lock
  Cargo.toml
  cot-macros/src/form.rs
  cot-macros/src/lib.rs
  cot-macros/src/utils.rs
Labels: C-macros

#381 fix: use `#crate_ident` instead of `cot::` in the form macro
  cot-macros/src/form.rs
Labels: C-macros
