Repository cot-rs/cot, pull requests merged in 2025-03, with the labels that each got.

#237 fix: panic backtrace/location not displayed on the error page
  cot-macros/src/admin.rs
  cot/src/auth/db.rs
  cot/src/error_page.rs
  cot/src/router.rs
  examples/todo-list/src/main.rs
Labels: C-lib, C-macros

#238 ci: random improvements
  .github/workflows/rust.yml
Labels: A-ci

#235 feat: create Workspace Manager
  Cargo.lock
  cot-cli/Cargo.toml
  cot-cli/src/lib.rs
  cot-cli/src/migration_generator.rs
  cot-cli/src/test_utils.rs
  cot-cli/src/utils.rs
  cot-cli/tests/new_project.rs
Labels: C-cli

#239 test: add test for reverse!() reversing in the current app first
  cot/tests/project.rs
Labels: C-lib

#243 ci: remove clippy-action
  .github/workflows/rust.yml
Labels: A-ci

#226 Cot-cli commands makeover
  cot-cli/src/main.rs
  cot-cli/src/migration_generator.rs
  cot-cli/src/test_utils.rs
  cot-cli/src/utils.rs
  cot-cli/tests/migration_generator.rs
Labels: C-cli, C-lib, A-ci

#244 chore!: upgrade edition to 2024
  .github/workflows/rust.yml
  .pre-commit-config.yaml
  Cargo.lock
  Cargo.toml
  cot-cli/src/main.rs
  cot-cli/src/migration_generator.rs
  cot-cli/src/new_project.rs
  cot-cli/src/utils.rs
  cot-cli/tests/migration_generator.rs
  cot-cli/tests/new_project.rs
  cot-codegen/src/expr.rs
  cot-codegen/src/symbol_resolver.rs
  cot-macros/src/admin.rs
  cot-macros/src/form.rs
  cot-macros/src/lib.rs
  cot-macros/src/model.rs
  cot-macros/src/query.rs
  cot/src/admin.rs
  cot/src/auth/db.rs
  cot/src/cli.rs
  cot/src/db.rs
  cot/src/db/impl_mysql.rs
  cot/src/db/impl_postgres.rs
  cot/src/db/migrations.rs
  cot/src/db/migrations/sorter.rs
  cot/src/db/query.rs
  cot/src/db/relations.rs
  cot/src/error.rs
  cot/src/error_page.rs
  cot/src/form.rs
  cot/src/form/fields.rs
  cot/src/handler.rs
  cot/src/lib.rs
  cot/src/middleware.rs
  cot/src/project.rs
  cot/src/request/path_params_deserializer.rs
  cot/src/response.rs
  cot/src/router.rs
  cot/src/static_files.rs
  cot/src/test.rs
  cot/tests/db.rs
  cot/tests/project.rs
Labels: C-cli, C-lib, C-macros, A-ci, C-codegen

#241 feat: random improvements
  .github/workflows/rust.yml
  justfile
Labels: A-ci

#246 fix(security): cycle session ID on login, flush session on logout
  cot/src/auth.rs
Labels: C-lib

#251 Add SessionMiddleWare Configuration
  cot-cli/src/project_template/config/dev.toml
  cot/src/config.rs
  cot/src/middleware.rs
  examples/admin/src/main.rs
Labels: C-cli, C-lib

#252 feat(cli): add generation of manpages and shell completions
  Cargo.lock
  Cargo.toml
  cot-cli/Cargo.toml
  cot-cli/src/main.rs
Labels: C-cli

#253 feat!: use extractor pattern for request handlers
  Cargo.lock
  Cargo.toml
  cot-cli/src/project_template/config/dev.toml
  cot-cli/src/project_template/config/prod.toml.example
  cot-cli/src/project_template/src/main.rs
  cot-macros/src/lib.rs
  cot/Cargo.toml
  cot/src/admin.rs
  cot/src/auth.rs
  cot/src/auth/db.rs
  cot/src/cli.rs
  cot/src/config.rs
  cot/src/db.rs
  cot/src/error.rs
  cot/src/form.rs
  cot/src/handler.rs
  cot/src/lib.rs
  cot/src/middleware.rs
  cot/src/project.rs
  cot/src/request.rs
  cot/src/request/extractors.rs
  cot/src/request/path_params_deserializer.rs
  cot/src/response.rs
  cot/src/router.rs
  cot/src/session.rs
  cot/src/static_files.rs
  cot/src/test.rs
  cot/templates/admin/base.html
  cot/templates/admin/model.html
  cot/templates/admin/model_edit.html
  cot/templates/admin/model_list.html
  cot/templates/admin/model_remove.html
  cot/tests/auth.rs
  cot/tests/project.rs
  cot/tests/router.rs
  examples/admin/src/main.rs
  examples/admin/templates/index.html
  examples/custom-error-pages/src/main.rs
  examples/hello-world/src/main.rs
  examples/json/src/main.rs
  examples/sessions/src/main.rs
  examples/sessions/templates/index.html
  examples/sessions/templates/name.html
  examples/todo-list/src/main.rs
  examples/todo-list/templates/index.html
Labels: C-cli, C-lib, C-macros

#264 chore(deps): use database dependencies only with the "db" feature flag
  cot/Cargo.toml
Labels: C-lib

#260 chore: add #[diagnostic::on_unimplemented] for key traits
  Cargo.lock
  cot/Cargo.toml
  cot/src/admin.rs
  cot/src/db.rs
  cot/src/form.rs
  cot/src/handler.rs
  cot/tests/compile_tests.rs
  cot/tests/ui/unimplemented_admin_model.rs
  cot/tests/ui/unimplemented_admin_model.stderr
  cot/tests/ui/unimplemented_db_model.rs
  cot/tests/ui/unimplemented_db_model.stderr
  cot/tests/ui/unimplemented_form.rs
  cot/tests/ui/unimplemented_form.stderr
  cot/tests/ui/unimplemented_request_handler.rs
  cot/tests/ui/unimplemented_request_handler.stderr
Labels: C-lib

#259 chore: use #[expect] instead of #[allow] where it makes sense
  cot-cli/src/main.rs
  cot-cli/src/migration_generator.rs
  cot-cli/src/utils.rs
  cot-codegen/src/model.rs
  cot-macros/src/admin.rs
  cot-macros/src/form.rs
  cot-macros/src/main_fn.rs
  cot-macros/src/model.rs
  cot-macros/tests/ui/attr_main.rs
  cot-macros/tests/ui/derive_form.rs
  cot/src/admin.rs
  cot/src/auth.rs
  cot/src/auth/db.rs
  cot/src/cli.rs
  cot/src/db.rs
  cot/src/db/impl_mysql.rs
  cot/src/db/impl_postgres.rs
  cot/src/db/impl_sqlite.rs
  cot/src/db/migrations.rs
  cot/src/db/migrations/sorter.rs
  cot/src/db/query.rs
  cot/src/handler.rs
  cot/src/project.rs
  cot/src/request/path_params_deserializer.rs
  cot/src/router.rs
  cot/src/router/path.rs
  cot/src/static_files.rs
  cot/src/test.rs
  cot/src/utils/graph.rs
Labels: C-cli, C-lib, C-macros, C-codegen

#267 fix(cli): migration generator not working in inner project directories
  cot-cli/src/migration_generator.rs
  cot-cli/src/utils.rs
  cot-cli/tests/migration_generator.rs
  cot/src/test.rs
Labels: C-cli, C-lib

#269 fix(cli): tests relying on cwd
  cot-cli/src/test_utils.rs
Labels: C-cli

#266 fix(cli): modified models detection
  cot-cli/src/migration_generator.rs
Labels: C-cli

#261 ci: run `cargo build` with `--all-features` in CI
  .github/workflows/rust.yml
  compose.yml
Labels: A-ci
